body {
  margin: 0;
  background-color: rgb(10, 10, 10);
}
.container {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  gap: 0;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
  height: 100vh;
  cursor: pointer;
  opacity: 80%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0;
}
.container > div {
  opacity: 100%;
  flex-basis: 100px;
  height: 100%;
  text-align: center;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.13) 1px 2px 5px;
  transition: 1s ease-in-out;
  font-size: 21px;
  padding: 0 2px 0 2px;
}

.container > div:hover {
  font-size: 40px;
  flex-basis: 500px;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.342);
  padding: 0 5px 0 5px;
  z-index: 9;
}

img {
  width: 50px;
}

/* Colors */
.card {
  width: 1fr;
  height: 1fr;
}
.yellow {
  background-image: url("./img/1.jpg");
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: multiply;
}
.red {
  background-image: url("./img/2.jpg");
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: multiply;
}
.blue {
  background-image: url("./img/3.jpg");
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: multiply;
}
.green {
  background-image: url("./img/4.jpg");
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: multiply;
}

.red:hover {
  background-color: rgba(0, 0, 0, 0);
}
.blue:hover {
  background-color: rgba(0, 0, 0, 0);
}
.green:hover {
  background-color: rgba(0, 0, 0, 0);
}
.yellow:hover {
  background-color: rgba(0, 0, 0, 0);
}
